{% extends 'main.html' %}


{% block Content %}

{% if page == 'login' %}
    

    
<div>

    <form method="POST">

        {% csrf_token %}
        <label>username:</label>
        <input type="text" name='username' placeholder="enter username">
        <label>password:</label>
        <input type="password" name='password' placeholder="enter password">
        <input type="submit" value='login'>

    </form>
    <p>have'nt signed up yet ?</p>
    <a href="{% url 'register' %}">sign up</a>

</div>
{% else %}

<div>

    <form method="POST">

        {% csrf_token %}
        {{form.as_p}}
         
        <input type="submit" value='Register'>

    </form>
    <p>already signed up?</p>
    <a href="{% url 'login' %}">login</a>

</div>

{% endif %}

{% endblock Content %}